<!-- Contact Details Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Details</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading-contact">Email us</h4>
                    <p class="text-muted">RSVP and general enquiries to </br><script>document.write('<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'m'+'&'+'#'+'9'+'7'+';'+'i'+'l'+'t'+'o'+'&'+'#'+'5'+'8'+';'+'p'+
'a'+'r'+'&'+'#'+'1'+'1'+'6'+';'+'&'+'#'+'1'+'2'+'1'+';'+'&'+'#'+'6'+'4'+';'+'&'+'#'+'1'+'0'+'0'+';'+
'%'+'6'+'5'+'%'+'6'+'B'+'&'+'#'+'1'+'0'+'1'+';'+'&'+'#'+'1'+'1'+'0'+';'+'&'+'#'+'9'+'7'+';'+'h'+'&'+
'#'+'4'+'6'+';'+'&'+'#'+'3'+'7'+';'+'6'+'3'+'o'+'m'+"'"+'>'+'p'+'a'+'&'+'#'+'1'+'1'+'4'+';'+'t'+'y'+
'&'+'#'+'6'+'4'+';'+'&'+'#'+'1'+'0'+'0'+';'+'e'+'k'+'e'+'n'+'a'+'h'+'&'+'#'+'4'+'6'+';'+'c'+'o'+'m'+
'<'+'/'+'a'+'>');</script><noscript>[Turn on JavaScript to see the email address]</noscript></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading-contact">Phone us</h4>
                    <p class="text-muted">If you need to get hold of us in a hurry you can call<br />
                    Melany on +27 82 <span style="display: none;">48787279</span>925 4369<br />
                    Matt on +44 7428 <span style="display: none;">48787279</span>332 962<br />
                    WhatsApp too, but email is usually a better option :)</p>                    
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-glass fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading-contact">Contact the venue</h4>
                    <p class="text-muted">If you have any questions about accessibility or parking, 
                    please contact Kelvin Grove:<br />
                    +27 21 <span style="display: none;">48787279</span>658 4500</p>
                </div>
            </div>
        </div>
    </section>